.error {
  font-size: 1.1rem;
  color: #393e5b;
}

.formtitle {
  font-size: 1.2rem;
  color: #393e5b;
}

.loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.formStyle {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  color: #393e5b;
  padding: 2rem;
}

.input {
  font-size: 1.2rem;
  border: none;
  border-bottom: 3px solid #ffa957;
  color: #393e5b;
  background: none;
}

.input::placeholder {
  color: #393e5b;
}

.form__container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 60% 20%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.registerform {
  grid-row-start: 2;
  grid-column-start: 2;
}

.formcontent {
  background-color: whitesmoke;
  border-radius: 20px;
}

.hide {
  display: none;
}

.submitButton {
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: whitesmoke;
  background-color: #393e5b;
  height: 2rem;
  width: 10rem;
  margin-top: .5rem;
}

.logintitle {
  overflow: visible;
  width: auto;
}
