@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
}

li {
  line-height: 1.8;
}

.container {
  width: 100vw;
  height: 100vw;
}

.pagetitle {
  font-size: var(--fontBig);
}

.demo-list {
  margin-top: var(--spacerBig);
  text-transform: capitalize;
}

.error {
  font-size: 1.2rem;
  color: black;
}

.formStyle {
  display: flex;
  flex-direction: column;
  color: #393e5b;
  padding: 2rem;
}

.input {
  border: none;
  border-bottom: 3px solid #efdfb8;
  color: #393e5b;
  background: none;
}

.input::placeholder {
  color: #393e5b;
}

.formtitle {
  color: #393e5b;
}

.form__container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 60% 20%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.registerform {
  grid-row-start: 2;
  grid-column-start: 2;
}

.formcontent {
  background-color: grey;

}


@media screen and (max-width: 440px) {
  .formstyle {
    text-align: center;
    width: 70%;

  }

  .store1 {
    height: 4rem;
    background-color: #393e5b;
  }
}
